  .scrollToTop {
    width:8em;
    height:3em;
    padding:1em;;
    text-align:center;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    top:14em;
    right:5em;
    display:none;
    border-radius: .65em;
    box-shadow: 0em .10em .10em .10em white;
    background: black;
  }
  .scrollToTop:hover,
  .scrollToTop:focus,
  .scrollToTop:active {
    text-decoration:none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #DBDBDB;
  }
  img {
    align-items: center;
    max-width: 12em;
  }
  body {
    line-height: 1.6875;
    background-color: #1B1B25;
    font-family: 'merriweather';
  }
  footer {
    display: flex;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border-radius: 1.25em;
    justify-content: center;
    max-width: 100%;
    background-color: #404666;
    box-shadow: 0em .10em .10em .10em grey;
  }
  a:hover,
  a:focus,
  a:active {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   color: grey;
 }
  .footerTextDiv {
    text-align: center;
    width: 100%;
    color: #DBDBDB;
  }
  .imageDiv {
    box-shadow: 0em .10em .10em .10em grey;
    background: url("../images/seattle-background-resize.jpg") no-repeat;
    background-attachment: fixed;
    height: 315vh;
    width: 100%;
    border-radius: 1.25em;
    padding-top: 1.25em;
  }
  .backgroundImage {
    border-radius: 1.25em;
    margin: .5%;
    max-width: 99%;
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
     position: absolute;
     top: 2%;
     left: 13%;
     width: 75%;
     height: 75%;
     box-shadow: 0em .25em .25em .25em #F1FFFF;
  }
  @media (min-width: 319px) {
    .scrollToTop {
      margin-right: 0em;
      margin-top: 0em;
    }
    .navBarItems {
      font-size: small;
    }
    .name {
      font-size: medium;
    }
    img {
      align-items: center;
      max-width: 11em;
    }
    .projectLinksContainer {
      border-radius: .65em;
      margin-bottom: 1.5em;
      background-color: #E1EAFF;
      box-shadow: 0em .50em .50em .50em #1B1B25;
    }
    .projectLinksContainer img {
      border-radius: .5em;
      margin: 2em;
      width: 11em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
    }
  }


  @media (min-width: 374px) {
    .scrollToTop {
      margin-right: 2em;
      margin-top: 0em;
    }

    .navBarItems {
      font-size: smaller;
    }
    .hiddenDiv2 {
      margin-left: 1.75em;
    }
    .hiddenDiv3 {
      text-align: center;
    }
    body{
      padding: 1em;
    }
    .projectLinksContainer {
      border-radius: .65em;
      margin-bottom: 1.5em;
      background-color: #E1EAFF;
      box-shadow: 0em .50em .50em .50em #1B1B25;
    }
    .projectLinksContainer img {
      margin: 2em;
      border-radius: .5em;
      width: 11em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
    }
  }


  @media (min-width: 413px) {
    .scrollToTop {
      margin-right: 2em;
      margin-top: 2em;
    }
    .name {
      font-size: large;
    }
    body {
      padding: 1em;
    }
    .navBarItems {
      font-size: small;
    }


  @media (min-width: 767px) {
    .scrollToTop {
      margin-right: 12.5em;
      margin-top: 1em;
    }
    .imageDiv {
      margin-right: 12.5em;
      margin-top: 2em;
    }
    .name {
      font-size: x-large;
    }
      .hiddenDiv1 {
        width: 70%;
        height: 30em;
      }
      .projectLinksContainer {
        margin-left: 3.75em;
        max-width: 80%;
        border-radius: .65em;
        margin-bottom: 1.5em;
        background-color: #E1EAFF;
        box-shadow: 0em .50em .50em .50em #1B1B25;
      }
      .projectLinksContainer img {
        margin-left: 13em
        border-radius: .5em;
        margin: 2.4em;
        width: 4em;
        height: 9em;
        box-shadow: 0em .50em .50em .50em grey;
    }
      .navBarItems {
        font-size: small;
    }
  }


  @media (min-width: 1020px){
    .flexBox {
      margin-top: 2em;
    }
    .imageDiv {
      margin-right: 12.5em;
      margin-top: 2em;
    }
    .scrollToTop {
      margin-right: 28em;
      margin-top: 1em;
    }
    .hiddenDiv1 {
      width: 80%;
      height: 20em;
    }
    .hiddenDiv2 {
      width: 70%;
      padding-top: 3em;
      padding-bottom: 5em;
    }
    .hiddenDiv3 {
      text-align: center;
      background: rgba(255, 234, 255, 0);
      width: 87%;
      border-radius: .65em;
      margin-bottom: .65em;
      padding: 1em;
      box-shadow: 0em .75em .75em .75em #1B1B25;
    }
    .name {
      font-size: xx-large;
    }
    .pastLifeContainer {
      width: 60%;
      margin-left: 10em;
      font-size: large;
    }
    .button3div {
      width: 60%;
      margin-left: 11.5em;
    }
    .divTitlePortfolio {
      width: 60%;
      margin-left: 11.5em;

    }
    .h3DivPortfolio {
      width: 60%;
      margin-left: 10.5em;
    }
    body {
      padding: 2em;
    }
    .navBarItems {
      font-size: large;
    }
      .projectLinksContainer {
        margin-left: 12em;
        max-width: 60%;
        border-radius: .65em;
        margin-bottom: 1.5em;
        background-color: #E1EAFF;
        box-shadow: 0em .50em .50em .50em #1B1B25;
      }
    }
    .projectLinksContainer img {
      border-radius: .5em;
      margin: 2.4em;
      width: 13em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
    }
  }
