
#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  }
  @keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
  }
  @-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
  img {
    align-items: center;
    max-width: 12em;
  }
  body {
    line-height: 1.6875;
    background-color: #1B1B25;
    font-family: 'merriweather';
  }
  footer {
    display: flex;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border-radius: 1.25em;
    justify-content: center;
    max-width: 100%;
    background-color: #404666;
    color: beige;
    box-shadow: 0em .10em .10em .10em grey;
  }

  a:hover,
  a:focus,
  a:active {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   color: grey;
 }
 .navBarAnchor {
    text-decoration: none;
    color: beige;
 }
  .footerText {
    text-align: center;
    width: 100%;
    color: #DBDBDB;
  }
  .imageDiv {
    box-shadow: 0em .10em .10em .10em grey;
    background: url("../images/seattle-background-resize.jpg") no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    border-radius: .5em;
    padding-top: 1.25em;
  }
  .backgroundImage {
    border-radius: 1.25em;
    margin: .5%;
    max-width: 99%;
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
     position: absolute;
     top: 2%;
     left: 13%;
     width: 75%;
     height: 75%;
     box-shadow: 0em .25em .25em .25em #F1FFFF;
  }
  @media (min-width: 319px) and (max-width: 415px) {
    .drop {
      background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1)), to(rgba(255,255,255,0.6)) );
      width:.50px;
      height:89px;
      position: absolute;
      -webkit-animation: fall .63s linear infinite;
      -moz-animation: fall .63s linear infinite;
      -webkit-animation-duration:10s;
      animation-duration: 1s;
      transition-duration: 1s;
      z-index: -1;
      }
      /* animate the drops*/
    @-webkit-keyframes fall {
      to {margin-top:900px;}
    }
    @-moz-keyframes fall {
      to {margin-top:900px;}
    }
    body{
      padding: .25em;
    }
    img {
      align-items: center;
      max-width: 11em;
    }
    .hiddenDivAbout{
      max-width: 70%;
      margin-left: .25em;
    }
    .flexBox {
      margin-left: -.25em;
    }
    .links {
      padding-top: 2.5em;
      margin-right: .25em;
    }
    .navBarItems {
      font-size: small;
    }
    .name {
      font-size: x-large;
    }
    .projectLinksContainer {
      border-radius: .65em;
      margin-bottom: 1.5em;
      background-color: #E1EAFF;
      box-shadow: 0em .50em .50em .50em #1B1B25;
    }
    .projectLinksContainer img {
      border-radius: .5em;
      margin: 2em;
      width: 11em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
    }
  }


  @media (min-width: 374px) {
    .name {
      font-size: x-large;
    }
    .navBarItems {
      font-size: smaller;
    }
    .hiddenDivContacts {
      margin-left: 1.75em;
    }
    .hiddenDivContacts {
      text-align: center;
    }
    body{
      padding: 1em;
    }
    .projectLinksContainer {
      border-radius: .65em;
      margin-bottom: 1.5em;
      background-color: #E1EAFF;
      box-shadow: 0em .50em .50em .50em #1B1B25;
    }
    .projectLinksContainer img {
      margin: 2em;
      border-radius: .5em;
      width: 11em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
    }
  }


  @media (min-width: 413px) {
    .closeContactsDiv {
      margin-left: 6em;
    }
    .name {
      font-size: x-large;
    }
    body {
      padding: 1em;
    }
    .navBarItems {
      font-size: small;
    }


  @media (min-width: 767px) {
    .links {
      padding-top: 3.5em;
    }
    .closeContactsDiv {
      margin-left: 12em;
    }
    .imageDiv {
      margin-right: 12.5em;
      margin-top: 2em;
    }
    .name {
      font-size: xx-large;
    }
    .hiddenDivAbout {
      width: 70%;
      height: 36em;
    }
    .projectLinksContainer {
      margin-left: 3.75em;
      max-width: 80%;
      border-radius: .65em;
      margin-bottom: 1.5em;
      background-color: #E1EAFF;
      box-shadow: 0em .50em .50em .50em #1B1B25;
    }
    .projectLinksContainer img {
      margin-left: 13em
      border-radius: .5em;
      margin: 2.4em;
      width: 4em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
  }
    .navBarItems {
      font-size: small;
  }
}


  @media (min-width: 1020px){
    .name {
      font-size: 2.5em;
    }
    .closeContactsDiv {
      margin-left: 21.5em;
    }
    .flexBox {
      margin-top: 2em;
    }
    .imageDiv {
      margin-right: 12.5em;
      margin-top: 2em;
    }
    .hiddenDivAbout {
      width: 70%;
      height: 33em;
    }
    .hiddenDivContacts {
      width: 70%;
      padding-top: 3em;
      padding-bottom: 5em;
    }
    .hiddenDivContacts {
      text-align: center;
      background: rgba(255, 234, 255, 0);
      width: 87%;
      border-radius: .65em;
      margin-bottom: .65em;
      padding: 1em;
      box-shadow: 0em .75em .75em .75em #1B1B25;
    }
    .pastLifeContainer {
      width: 60%;
      margin-left: 10em;
      font-size: large;
    }
    .closePortfolioDiv {
      width: 60%;
      margin-left: 11.5em;
    }
    .divTitlePortfolio {
      width: 60%;
      margin-left: 11.5em;

    }
    .h3DivPortfolio {
      width: 60%;
      margin-left: 10.5em;
    }
    body {
      padding: 2em;
    }
    .navBarItems {
      font-size: large;
    }
      .projectLinksContainer {
        margin-left: 12em;
        max-width: 60%;
        border-radius: .65em;
        margin-bottom: 1.5em;
        background-color: #E1EAFF;
        box-shadow: 0em .50em .50em .50em #1B1B25;
      }
    }
    .projectLinksContainer img {
      border-radius: .5em;
      margin: 2.4em;
      width: 13em;
      height: 9em;
      box-shadow: 0em .50em .50em .50em grey;
    }
  }
  @media (min-width: 1290px){
  body {
    padding-left: 8em;
    padding-right: 8em;
  }
}
