
.closeAboutMeDiv {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1.25em;
  border-radius: .65em;
  background-color: #B4BBCC;
  box-shadow: 0em .25em .25em .25em #1B1B25;
}
.closeAboutMe {
  width:7em;
  height: 3.75em;
  border-radius: 1em;
  margin: .5em;
  color: #B4BBCC;
  background-color: #1B1B25;
  box-shadow: 0em .25em .25em .25em grey;
}
.finale:hover,
.finale:focus,
.finale:active {
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  box-shadow: 0em .25em .25em .25em grey;
}
.videoCloseButton {
  width:7em;
  height: 3.75em;
  border-radius: .65em;
  margin: 5em;
  color: #B4BBCC;
  background-color: #1B1B25;
}
.videoCloseButton,
.finale {
  font-size: small;
  width:7em;
  height: 3.75em;
  border-radius: 1em;
  margin: .25em;
  color: #B4BBCC;
  background-color: #1B1B25;
}
.closePortfolioDiv {
  text-align: center;
  padding: .5em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  border-radius: .65em;
  margin-left: 4em;
  margin-right: 4em;
  background-color: #B4BBCC;
  box-shadow: 0em .25em .25em .25em #1B1B25;
}
.closeContactsDiv {
  padding: .5em;
  text-align: center;
  margin-left: 5.25em;
  margin-top: 2em;
  max-width: 32%;
  border-radius: .65em;
  background-color: #B4BBCC;
  box-shadow: 0em .25em .25em .25em #1B1B25;
}
.closePortfolio,
.closeContacts {
  width:7em;
  height: 3.75em;
  border-radius: 1em;
  margin: .25em;
  color: #B4BBCC;
  background-color: #1B1B25;
  box-shadow: 0em .25em .25em .25em grey;
}
.projectLinksContainer img:hover,
.projectLinksContainer img:focus,
.projectLinksContainer img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #DBDBDB;
  box-shadow: 0em .50em .50em .50em grey;
}
.closeAboutMe:hover,
.closeAboutMe:focus,
.closeAboutMe:active,
.videoCloseButton:hover,
.videoCloseButton:focus,
.videoCloseButton:active,
#videoButton2:hover,
#videoButton2:focus,
#videoButton2:active,
.button2:hover,
.button2:focus,
.button2:active,
.closePortfolio:hover,
.closePortfolio:focus,
.closePortfolio:active,
.logo:hover,
.logo:focus,
.logo:active,
.finale:hover,
.finale:focus,
.finale:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #DBDBDB;
  box-shadow: 0em .25em .25em .25em #1B1B25;
}

/*.navBarItems:hover,
.navBarItems:focus,
.navBarItems:active {
  -webkit-transform: scale(.99);
  transform: scale(.99);
  color: #DBDBDB;
  box-shadow: 0em .25em .25em .25em #1B1B25;
}*/
