#videoCloseButton {
  width:7em;
  height: 3.75em;
  border-radius: .65em;
  margin: 5em;
  color: #B4BBCC;
  background-color: #1B1B25;
}
.projectLinksContainer img:hover,
.projectLinksContainer img:focus,
.projectLinksContainer img:active,
#videoCloseButton:hover,
#videoCloseButton:focus,
#videoCloseButton:active,
#videoButton2:hover,
#videoButton2:focus,
#videoButton2:active,
#finale:hover,
#finale:focus,
#finale:active,
#cards:hover,
#cards:focus,
#cards:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #DBDBDB;
}
#videoCloseButton,
#videoButton2,
#finale,
#cards {
  font-size: small;
  width:7em;
  height: 3.75em;
  border-radius: 1em;
  margin: .25em;
  color: #B4BBCC;
  background-color: #1B1B25;
}
.button3div {
  text-align: center;
  padding: .5em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  border-radius: .65em;
  background-color: #B4BBCC;
  margin-left: 4em;
  margin-right: 4em;
  box-shadow: 0em .25em .25em .25em #1B1B25;
}
.button2div {
  text-align: center;
  margin-top: 2em;
}
.button3,
.button2 {
  width:7em;
  height: 3.75em;
  border-radius: 1em;
  margin: .25em;
  color: #B4BBCC;
  background-color: #1B1B25;
}
.button2:hover,
.button2:focus,
.button2:active,
.button3:hover,
.button3:focus,
.button3:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #DBDBDB;
}
.logo:hover,
.logo:focus,
.logo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
