
.button1 {
  width:100px;
  height: 30px;
  border-radius: 10px;
  margin: 4px;
  color: #DBDBDB;
  background-color: grey;
}
.hiddenDivContainer {
  display: flex;
  justify-content: center;
}
.hiddenDiv1 {
  align-self: flex-start;
  text-align: center;
  background: #87781D;
  width: 500px;
  height: 500px;
  border-radius: 5px;
}
.hiddenDiv2 {
  text-align: center;
  background: #D9A257;
  width: 500px;
  height: 500px;
  border-radius: 5px;
}
.hiddenDiv3 {
  text-align: center;
  background: #DBDBDB;
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

body {
  padding: 20px;
  background-color: #CDAD7E;
}
.imageDiv {
  background: url("../images/rsz_background_image_portfolio.jpg") no-repeat;
  height: 150vh;
  width: 100%;
  border-radius: 5px;
}
.nameLinksContainer {
  display: flex;
  flex: 1;
}
.flexBox {
  text-align: right;
  -webkit-flex: 1;
  flex: 1;
}
.links {
  padding-right: 30px;
  text-align: right;
  -webkit-flex: 1;
  flex: 1;
}
.name {
  padding-left: 30px;
  justify-content: center;
  color: beige;
  -webkit-flex: initial;
  flex: initial;
  width: 200px;
}
.mountainsImage {
  border-radius: 5px;
  margin: .5%;
  max-width: 99%;
}
.navContainer {
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: space-around;
  flex-direction: row;
  max-width: 100%;
  background-color: #433931;
}
.navBarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: #594B43;
  border: solid 5px;
  color: #A68E75;
  margin: 1%;
  width: 100%;
  background-color: black;
}
.gitLogo {
  margin: 2px;
  width: 50px;
  border-radius: 50%;
}
.instaLogo {
  margin: 2px;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 20%;
}
.twitterLogo {
  margin: 2px;
  width: 50px;
}
.linkedInLogo {
  margin: 2px;
  width: 50px;
  border-radius: 4%;
}
.instaLogo:hover,
.instaLogo:focus,
.instaLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.twitterLogo:hover,
.twitterLogo:focus,
.twitterLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.linkedInLogo:hover,
.linkedInLogo:focus,
.linkedInLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gitLogo:hover,
.gitLogo:focus,
.gitLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  #nav1:hover,
  #nav1:focus,
  #nav1:active {
    -webkit-transform: scale(.99);
    transform: scale(.99);
         color: #87781D;
  }
  #nav2:hover,
  #nav2:focus,
  #nav2:active {
    -webkit-transform: scale(.99);
    transform: scale(.99);
        color: #D9A257;
  }
  #nav3:hover,
  #nav3:focus,
  #nav3:active {
    -webkit-transform: scale(.99);
    transform: scale(.99);
        color: #DBDBDB;
  }
