
.button3div {
  text-align: center;
}
.button3 {
  width:100px;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
  color: #DBDBDB;
  background-color: grey;
}
.hiddenDivContainer {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.hiddenDiv1 {
  box-shadow: 0px 5px 5px 5px #1B1B25;
  text-align:left;
  background: #B4BBCC;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.hiddenDiv2 {
  box-shadow: 0px 5px 5px 5px #1B1B25;
  text-align: left;
  background: #E1EAFF;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.hiddenDiv3 {
  box-shadow: 0px 5px 5px 5px #1B1B25;
  text-align: left;
  background: #F1FFFF;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.projectLinksContainer {
  text-align: center;
}
.campfireCoffee {
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 150px;
  box-shadow: 0px 3px 3px 3px grey;
}
.guac-a-mole {
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 150px;
  box-shadow: 0px 3px 3px 3px grey;
}
.busMall {
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 150px;
  box-shadow: 0px 3px 3px 3px grey;
}
.divTitle {
  font-size: 40px;
}
body {
  padding: 20px;
  background-color: #1B1B25;
}
h2 {
  font-size: 28px;
}
.imageDiv {
  background: url("../images/seattle-background-resize.jpg") no-repeat;
  height: 125vh;
  width: 100%;
  border-radius: 5px;
  padding-top: 10px;
}
.nameLinksContainer {
  display: flex;
  flex: 1;
}
.links {
  padding-top: 40px;
  padding-right: 30px;
  text-align: right;
  -webkit-flex: 1;
  flex: 1;
}
.flexBox {
  text-align: right;
  -webkit-flex: 1;
  flex: 1;
}
.name {
  font-size: 25px;
  padding-left: 30px;
  color: beige;
  -webkit-flex: 1;
  flex: 1;
  width: 200px;
}
.backgroundImage {
  border-radius: 5px;
  margin: .5%;
  max-width: 99%;
}
.navContainer {
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: space-around;
  flex-direction: row;
  max-width: 100%;
  background-color: #404666;
}
.navBarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 5px;
  color: #D9CEC6;
  margin: 1%;
  width: 100%;
  background-color: #1B1B25;
}
.gitLogo {
  margin: 2px;
  width: 50px;
  border-radius: 50%;
}
.instaLogo {
  margin: 2px;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 20%;
}
.twitterLogo {
  margin: 2px;
  width: 50px;
}
.linkedInLogo {
  margin: 2px;
  width: 50px;
  border-radius: 4%;
}
.instaLogo:hover,
.instaLogo:focus,
.instaLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.twitterLogo:hover,
.twitterLogo:focus,
.twitterLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.linkedInLogo:hover,
.linkedInLogo:focus,
.linkedInLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.gitLogo:hover,
.gitLogo:focus,
.gitLogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  #nav1:hover,
  #nav1:focus,
  #nav1:active {
    -webkit-transform: scale(.99);
    transform: scale(.99);
         color: #B4BBCC;
  }
  #nav2:hover,
  #nav2:focus,
  #nav2:active {
    -webkit-transform: scale(.99);
    transform: scale(.99);
        color: #E1EAFF;
  }
  #nav3:hover,
  #nav3:focus,
  #nav3:active {
    -webkit-transform: scale(.99);
    transform: scale(.99);
        color: #F1FFFF;
  }
  .campfireCoffee:hover,
  .campfireCoffee:focus,
  .campfireCoffee:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
        color: #DBDBDB;
  }
  .guac-a-mole:hover,
  .guac-a-mole:focus,
  .guac-a-mole:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
        color: #DBDBDB;
  }
  .busMall:hover,
  .busMall:focus,
  .busMall:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
        color: #DBDBDB;
  }
